<!DOCTYPE html>
<html>
    <body>
      <div class="container">
        <header>
          <link rel="stylesheet" href="/static/style__data.css">
            <!-- script share social media -->
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=64b9106c71afd40013e96af9&product=inline-share-buttons&source=platform" async="async"></script>
        <h1>Siek Chhaihang</h1>
        <p id="position">Future Career Software Engineer</p>
        </header>
        <section>
        <h2>Summary</h2>
        <p class="summary"><img class="picture" src="../static/images/mypicture.jpg" width="80px" alt="">
        Deadline-oriented software engineer with lots of experience. Solid track record of architecting solutions that exceed client expectations.</p>
        </section>
        <section>
        <h2>Experience</h2>
        <ul id="experience">
            <li>
                <b>Manager of Jobless and No hope - Self-Employee</b> | 2008 - Present
            </li>
            <li>
                <b> Eat, Play and Sleep - Home sweet Home</b> | 2003 - 2008
            </li>
        </ul>
        </section>
        <section>
        <h2>Skills</h2>
        <table id="skills">
            <tr><th>Skill</th><th>Level</th></tr>
            <tr><td>HTML</td><td>Copy and Paste</td></tr>
            <tr><td>CSS</td><td>Copy and Paste</td></tr>
        </table>
        </section>
        <section>
            <h2>Contact Form</h2>
            <form id="contact-form" method="get">
                <label for="name">Name: </label><input placeholder="Name" id="name" type="text" /><br>
                <label for="email">Email: </label><input placeholder="Email" id="email" type="email" /><br>
                <textarea class="message" placeholder="Message"></textarea><br>
                <input class="send" type="submit" value="SEND"><br><br>
            </form>
        </section>
        <div class="sharethis-inline-share-buttons"></div>
        <footer>
        <p id="copyright">Copyright &copy; Siek Chhaihang</p>
        </footer>
      </div>
    </body>
</html>