<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Work</title>
    <link rel="stylesheet" href="/static/style__home.css">
  </head>

    <body>  
    <div class="container"> 
      <h2 class="container__h2">Click Summit to see my CV</h2> 
      <hr> 
    <form class="Form" method="post" action="/siekchhaihang">  
            
      <div class="groupbtb">
        <button type="submit" class="submitbtb" >Summit</button> 
      </div>   

    </form>
  </div>
  </body>
</html>